form {
  margin: 50px 0 80px;
  position: relative;
}

form ol {
  margin-bottom: 0;
}

label,
input,
textarea {
  width: 100%;
  display: block;
}

label {
  font-size: 1.7rem;
}

input, textarea {
  color: $darkPurple;
  border: none;
  margin: 10px 0 20px;
  font-size: 1.5rem;
  outline: none;
  padding: 1.2rem;
  background-color: #dfdfdf;
  margin-bottom: 0;
  letter-spacing: .03rem;
}

button {
  outline: none;
}

.questions li {
  z-index: 100;
  position: relative;
  visibility: hidden;
  height: 0;
  -webkit-transition: visibility 0s 0.4s, height 0s 0.4s;
  transition: visibility 0s 0.4s, height 0s 0.4s;
}

.questions .current {
  visibility: visible;
  height: auto;
  -webkit-transition: none;
  transition: none;
}

.questions li > span {
  display: block;
  overflow: hidden;
}

.questions li > span label {
  display: block;
  -webkit-transition: -webkit-transform 0.4s;
  transition: transform 0.4s;
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%);
}

.questions li.current > span label, .no-js .questions li > span label {
  -webkit-transition: none;
  transition: none;
  -webkit-transform: translateY(0);
  transform: translateY(0);
}

.next {
  position: absolute;
  right: 0;
  top: 50%;
  font-size: 1.5rem;
  display: block;
  padding: 0;
  width: 2em;
  height: 2em;
  border: none;
  background: none;
  color: $darkPurple;
  text-align: center;
  opacity: 0;
  z-index: 100;
  cursor: pointer;
  -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
  transition: transform 0.3s, opacity 0.3s;
  -webkit-transform: translateX(-20%);
  transform: translateX(-20%);
  pointer-events: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  &.show {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
    pointer-events: auto;
  }
  &:hover::after {
    transform: translateY(2px);
  }
}

.next::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
  content: "\f178";
  line-height: 2;
  -webkit-font-smoothing: antialiased;
  transition: all .4s ease;
}

.show-next .number-current {
	-webkit-transition: -webkit-transform 0.4s;
	transition: transform 0.4s;
	-webkit-transform: translateY(-100%);
	transform: translateY(-100%);
}

.show-next .number-next {
	-webkit-animation: moveUpFromDown 0.4s both;
	animation: moveUpFromDown 0.4s both;
}

.show-next .current > span label {
	-webkit-animation: moveUpFromDown 0.4s both;
	animation: moveUpFromDown 0.4s both;
}

.contact-form-inner.hide {
	visibility: hidden;
	opacity: 0;
	-webkit-transition: opacity 0.3s, visibility 0s 0.3s;
	transition: opacity 0.3s, visibility 0s 0.3s;
}

.error-message {
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity 0.4s;
  transition: opacity 0.4s;
  font-style: italic;
  font-size: .95rem;
  bottom: -3px;
  position: absolute;
  transform: translateY(100%);
  &.show {
   visibility: visible;
   opacity: 1;
  }
}

.final-message {
  position: absolute;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity 0.4s;
  transition: opacity 0.4s;
  top: 50%;
  left: 0;
  padding: 0.5em;
  width: 100%;
  text-align: center;
  font-size: 1.6rem;
  &.show {
    visibility: visible;
    opacity: 1;
  }
}

.progress {
  width: 0%;
  height: 0.25em;
  background: rgba(0,0,0,0.3);
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}

.number {
  position: absolute;
  right: 0;
  overflow: hidden;
  margin: 0.4em 0;
}

.submit {
  display: none;
}


@-webkit-keyframes moveUpFromDown {
	from { -webkit-transform: translateY(100%); }
	to { -webkit-transform: translateY(0); }
}

@keyframes moveUpFromDown {
	from { -webkit-transform: translateY(100%); transform: translateY(100%); }
	to { -webkit-transform: translateY(0); transform: translateY(0); }
}


/* --------------------------------------------------------
Mobile
----------------------------------------------------------- */
@media only screen and (max-width: 800px) {
  label,
  input,
  textarea {
    font-size: $mobileBodyTextSize;
  }
  p {
    margin-bottom: 30px;
  }
  form {
    margin: 30px 0;
  }
  .next {
    top: calc(50% - 4px);
  }

}
